@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Rubik&display=swap');

*{
    padding: 0rem;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

:root{
    --mainColor: rgb(255, 255, 255);
    --mainColorLight: #FF381C;
    --secondaryColor: #FF381C;
    --textColor: black;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--mainColor);
}

header .Logo {
    width: 100%;
    max-width: 200px;
    margin-left: 10%;
}

nav{
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}
nav a{
    margin: 1rem 1rem;
    color: var(--textColor);
    text-decoration: none;
    position: relative;
}

nav a:hover{
    color: var(--secondaryColor)
}

header .nav-btn{
    padding:5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    left: 20%;
}

.navbar__container-buttons{
    display: flex;
}

.btn-signin{
    border: none;
    background-color: none;
    background: none;
    font-size: 1rem;
    padding-right: 1rem;
}

.btn-register{
    border: none;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    color: white;
    font-weight: bold;
}



header .navbar__container-links-buttons2{
    visibility: hidden;
}

@media only screen and (max-width: 1024px){
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header .navbar__container-links-buttons2{
        visibility: visible;
    }

    header .navbar__container-links-buttons{
        visibility: hidden;
    }


    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }
    
}